@page "/AddWorkout"
@using WorkoutTrackerWebsite.Data;
@using Microsoft.EntityFrameworkCore;
<PageTitle>AddWorkout</PageTitle>
@inject IDbContextFactory<WorkoutsTrackerDbContext> ContextFactory;

@inject AuthenticationStateProvider GetAuthenticationStateAsync


<div class="text-center">
    <h1 class="modal-title m-5">Add Workout</h1>

</div>

<div class="container ">
    <EditForm Model="Workout">
        <div style="max-width:900px" class="container-lg ">
            <div class="container"  >
                <div class="m-auto " style="min-width:300px; max-width:600px;">
                    <h5 class="card-title fs-3 ">Workout Date</h5>
                    <label for="WorkoutDate" class="form-label m-3 fs-5">Add Workout's Date</label>
                    <InputDate id="WorkoutDate" @bind-Value="Workout.Date" />
                    <h5 class="card-title fs-3 mb-3 mt-3">Workout Rounds</h5>
                </div>
                
                    @if (Workout.Rounds != null)
                    {
                        @foreach (Models.RoundModel round in Workout.Rounds)
                        {
                        <div style="min-width:300px; max-width:600px;" class="m-auto mb-3 p-3 rounded border border-dark border-2">
                                
                                <div class="card-title fs-4 bg-light"> Round @round.RoundNumber : @round.ExerciseName</div>


                                <label class="m-1 fs-5">Choose Exercice</label>
                            <div class="m-2">
                                <InputSelect style="min-width:100px;min-height:30px;" class="form-select" id="RoundExercice" @bind-Value="@round.ExerciseName">
                                    <option value="">Select an exercise...</option>
                                    @foreach (Models.ExerciseModel exercice in _exercises)
                                    {
                                        <option value="@exercice.Name">@exercice.Name</option>
                                    }
                                </InputSelect>
                            </div>
                                    
                                
                                @*<div class="m-2">or</div>
                                <div class="m-2">
                                    <label for="AddExercise">Add a new Exercise</label>
                                    <InputText id="AddExercise" @bind-Value="Exercise.Name" />
                                    <button class="btn btn-success btn-sm" @onclick="AddExercise">Add Exercise</button>
                                </div>*@

                                <div class="container-xl">
                                    <table class="table table-hover border ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Set</th>
                                                <th scope="col">Weight</th>
                                                <th scope="col">Reps</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (round.Sets != null)
                                            {
                                                foreach (Models.SetModel set in round.Sets)
                                                {
                                                    <tr>
                                                        <th scope="row">@set.SetNumber</th>
                                                        <td><InputNumber style="max-width:50px;" id="SetWeight" @bind-Value="set.Weight" /> Kg</td>
                                                        <td><InputNumber style="max-width:50px;" id="SetReps" @bind-Value="set.Reps" /> Rep</td>
                                                        <td><button class="btn btn-danger btn-sm" @onclick="@(() => DeleteSet(round, set))">Delete Set</button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success " @onclick="@(() => AddSet(round))">Add a new Set</button>
                                </div>
                                <div class ="text-center mt-3">
                                    <button class="btn btn-danger btn-lg" @onclick="@(() => DeleteRound(round))">Delete Round</button>
                                </div>
                            </div>
                        }
                    }
                <div class="m-2 text-center">
                    <button class="btn btn-success btn-lg" @onclick="AddRound">Add a new round</button>
                </div>
            </div>
            
        </div>

        <div class="m-5 text-center">
            <button type="submit" style="min-width:800px" class="btn btn-success btn-lg" @onclick="AddWorkoutAsync"> SAVE WORKOUT</button>
        </div>
        
    </EditForm>
</div>

<div>
    @foreach(var wrk in _workouts)
    {

        <div>@wrk.Date</div>
        if (wrk.Rounds != null)
        {
            foreach (var round in wrk.Rounds)
            {
                <div>@round.ExerciseName</div>

                
                if (round.Sets != null)
                {
                    foreach(var set in round.Sets)
                    {

                        <div>Set @set.SetNumber @set.Weight Kg X @set.Reps rep</div>
                    }
                    
                }
            }
        }
        <button class="btn btn-danger btn-lg" @onclick="@(() =>DeleteWorkout(wrk.Id))">Delete Workout</button>
        
    }
</div>

<h3 class="mt-5">Workout in : @Workout.Date</h3>
    @if (Workout.Rounds != null)
    {
        <div style="max-width:400px;" class="container">
            @foreach (var round in Workout.Rounds)
            {
            <h4>@round.ExerciseName</h4>
                if (round.Sets != null)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Set</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Reps</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var set in round.Sets)
                                {
                                <tr>
                                    <th scope="row">@set.SetNumber</th>
                                    <td>@set.Weight Kg</td>
                                    <td>@set.Reps rep</td>
                                </tr>
                                }
                            

                        </tbody>
                    </table>
                }
            }
        </div>
    }
    

@code {
    Models.WorkoutModel Workout = new();
    List<Models.WorkoutModel> _workouts = new();
    int roundN = 0;
    int setN = 0;
    Models.ExerciseModel Exercise = new();
    List<Models.ExerciseModel> _exercises = new();
    string userName="";
    string userId="";


    protected override async Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        
        userName = user.Identity.Name;
        userId = user.Claims.FirstOrDefault().Value;
        using (var repo = new WorkoutRepository(ContextFactory.CreateDbContext()))
        {
            _workouts = await repo.GetWorkoutsByUserIdAsync(userId);
            _exercises = await repo.GetAllExercisesAsync();
        }
    }

    async Task DeleteWorkout(Guid id)
    {

        _workouts.Remove(_workouts.First(w => w.Id == id));
        using (var repo = new WorkoutRepository(ContextFactory.CreateDbContext()))
        {
            await repo.DeleteWorkoutAsync(id);

        }

    } 

    private void AddRound()
    {
        Models.RoundModel round = new();
        if (Workout.Rounds == null)
        {
            roundN = 1;
            Workout.Rounds = new List<Models.RoundModel>();
        }
        round.RoundNumber = Workout.Rounds.Count + 1;
        Workout.Rounds.Add(round);
    }

    private void DeleteRound(Models.RoundModel round)
    {
        if (Workout.Rounds != null)
        {
            Workout.Rounds.Remove(round);
        }
    }

    private void AddSet(Models.RoundModel round)
    {
        Models.SetModel set = new();
        if (round.Sets == null)
        {
            round.Sets = new List<Models.SetModel>();
            set.SetNumber = 1;
        }
        else
        {
            set.SetNumber = round.Sets.Count+1;

        }
        round.Sets.Add(set);
    }

    private void DeleteSet(Models.RoundModel round, Models.SetModel set)
    {
        if (round.Sets != null)
        {
            round.Sets.Remove(set);
            for (int i = 0; i < round.Sets.Count; i++)
            {
                round.Sets[i].SetNumber = i + 1;
            }
        }

    }

    private async Task AddWorkoutAsync()
    {
        Workout.UserId = userId;
        using (var repo = new WorkoutRepository(ContextFactory.CreateDbContext()))
        {
            await repo.AddWorkout(Workout);
            _workouts.Add(Workout);
            Workout = new Models.WorkoutModel();
        }
    }

}
